*.png
*.npy
*.h5py
crystallize-web/video_frames720p/
crystallize-web/video_frames240p/
crystallize-web/data240p/
crystallize-web/__pycache__/
GAN/__pycache__/
__pycache__/
crystallize-web/vid_utils.py
.DS_Store
